.informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

.numero-informacao {
    font-size: 4em;
}
