
.novos-amigos {
    background-color: #78A8C8;
    text-align: center;
    padding: 40px 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.novos-amigos h2 {
    font-size: 3em;
    font-family: "Just Me Again Down Here", "Caveat", cursive;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.novos-amigos button {
    padding: 0.2em 1em;
    font-size: 2em;
    font-family: "Just Me Again Down Here", "Caveat", cursive;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    background-color: #5b568a;
    transition: background-color 0.3s ease;
}

.novos-amigos button:hover {
    background-color: #555086;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.slideshow-cointainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carrossel .imagem {
    flex: 0 0 250px;
    margin: 0 10px;
    transform: scale(0.8);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.carrossel .imagem img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.carrossel .imagem.ativo {
    flex: 0 0 250px;
    opacity: 1;
    transform: scale(1.2); 
}

.prev-btn,
.next-btn {
    padding: 0.2em 1em;
    font-size: 2em;
    font-family: "Just Me Again Down Here", "Caveat", cursive;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    background-color: #5b568a;
    transition: background-color 0.3s ease;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #555086;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.prev-btn {
    left: 15px; 
}

.next-btn {
    right: 15px; 
}