main section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    /* Ainda em construção */
    /* background-image: url(../../assets/images/Patas\ Doguinhos.svg);
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    min-height: 100vh;
    width: 100%; */
}

.quem-somos {
    background-color: #555086;
    padding: 110px 2em 2em;
}

.quem-somos article {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 4em;
    align-items: center;
}

.imagem{
    width: 30rem;
}

.container-quem-somos {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-quem-somos h2 {
    font-size: 4em;
}

.container-quem-somos p {
    font-size: 1.8em;
    padding: 2.5em 5em;
}

.container-quem-somos a {
    text-decoration: none;
    border: none;
    border-radius: 25px;
    background-color: #78A8C8;
    color: #FDF7EB;
    padding: 0.2em 1.8em;
    font-weight: bold;
    font-size: 1.8em;
    transition: background-color 0.5s ease;
    font-family: "Just Me Again Down Here", "Caveat", cursive;
}

.container-quem-somos a:hover {
    background-color: #FDF7EB;
    color: #78A8C8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
